workflows/Action_Executor.json
{
  "name": "Auto-Repare - Action Executor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-repare/execute-action",
        "options": {}
      },
      "id": "webhook-execute",
      "name": "Webhook Execute Action",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "auto-repare-execute"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $input.first().json;\nconst command = incident.level_1_action;\nconst safePatterns = [\n  /^systemctl (restart|start|stop|reload|status) [a-z0-9-]+$/,\n  /^docker (restart|start|stop) [a-z0-9_-]+$/,\n  /^docker logs --tail \\d+ [a-z0-9_-]+$/,\n  /^journalctl --vacuum-(size|time)=\\S+$/,\n  /^docker system prune -f$/\n];\nconst blockedPatterns = [\n  /rm\\s+-rf/i,\n  /rm\\s+-r\\s+\\//i,\n  /dd\\s+if=/i,\n  /mkfs/i,\n  /chmod\\s+777/i,\n  /DROP\\s+(DATABASE|TABLE)/i\n];\nconst isBlocked = blockedPatterns.some(p => p.test(command));\nif (isBlocked) {\n  incident.validation = { is_valid: false, reason: 'Blocked pattern', command };\n  return [{ json: incident }];\n}\nconst isSafe = safePatterns.some(p => p.test(command));\nincident.validation = { is_valid: isSafe, reason: isSafe ? 'Safe pattern' : 'Not in whitelist', command };\nreturn [{ json: incident }];"
      },
      "id": "validate-command",
      "name": "Valider Commande",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "cond-valid", "leftValue": "={{ $json.validation.is_valid }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-valid",
      "name": "Commande Valide?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "command": "={{ $json.level_1_action }}"
      },
      "id": "ssh-execute",
      "name": "SSH - Executer Action",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [660, -100],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait-verify",
      "name": "Attendre 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, -100]
    },
    {
      "parameters": {
        "command": "=curl -s -o /dev/null -w '%{http_code}' {{ $('Webhook Execute Action').item.json.monitor_url || 'http://localhost' }} 2>/dev/null || echo 'FAIL'"
      },
      "id": "ssh-verify",
      "name": "SSH - Verifier Service",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1100, -100],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $('Webhook Execute Action').first().json;\nconst executeResult = $('SSH - Executer Action').first().json;\nconst verifyResult = $('SSH - Verifier Service').first().json;\nconst httpCode = verifyResult.stdout?.trim();\nconst success = httpCode && httpCode.startsWith('2');\nincident.level_1_success = success;\nincident.execution_result = { stdout: executeResult.stdout, stderr: executeResult.stderr, exit_code: executeResult.exitCode, verification_http_code: httpCode, verified_at: new Date().toISOString() };\nreturn [{ json: incident }];"
      },
      "id": "evaluate-result",
      "name": "Evaluer Resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "cond-success", "leftValue": "={{ $json.level_1_success }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Action Reussie?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"success\", \"incident\": {{ JSON.stringify($json) }} }",
        "options": {}
      },
      "id": "notify-success",
      "name": "Notifier Succes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -200]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/escalate-n2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "escalate-failure",
      "name": "Escalader - Echec N1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/escalate-n2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"incident_id\": \"{{ $json.incident_id }}\", \"reason\": \"Command validation failed\", \"original_incident\": {{ JSON.stringify($json) }} }",
        "options": {}
      },
      "id": "escalate-invalid",
      "name": "Escalader - Commande Invalide",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-repare/escalate-n2",
        "options": {}
      },
      "id": "webhook-escalate",
      "name": "Webhook Escalade N2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "webhookId": "auto-repare-escalate"
    },
    {
      "parameters": {
        "command": "=tail -n 100 /var/log/syslog 2>/dev/null; echo '---DOCKER---'; docker logs --tail 50 {{ $json.service_name || 'n8n-main-prod' }} 2>&1 || true; echo '---RESOURCES---'; free -h; df -h /"
      },
      "id": "ssh-collect-context",
      "name": "SSH - Collecter Contexte",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [220, 400],
      "credentials": {
        "sshPrivateKey": {
          "id": "YOUR_SSH_CREDENTIAL_ID",
          "name": "Auto-Repare VPS SSH Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-3-5-sonnet-20241022\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Tu es un expert DevOps Niveau 2. Analyse cet incident.\\n\\nIncident: {{ $('Webhook Escalade N2').item.json.incident_id }}\\nService: {{ $('Webhook Escalade N2').item.json.service_name }}\\n\\nContexte:\\n{{ $json.stdout }}\\n\\nReponds avec JSON: {\\\"root_cause\\\": \\\"...\\\", \\\"analysis\\\": \\\"...\\\", \\\"severity\\\": \\\"critical|high|medium|low\\\", \\\"action_command\\\": \\\"...\\\", \\\"action_explanation\\\": \\\"...\\\", \\\"requires_human_approval\\\": true, \\\"risks\\\": [\\\"...\\\"]}\"\n  }]\n}",
        "options": {"timeout": 120000}
      },
      "id": "claude-n2",
      "name": "Claude - Expert N2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const incident = $('Webhook Escalade N2').first().json;\nconst claudeResponse = $input.first().json;\ntry {\n  const content = claudeResponse.content?.[0]?.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*?\\\"root_cause\\\"[\\s\\S]*?\\}/m);\n  if (jsonMatch) {\n    incident.level_2_recommendation = JSON.parse(jsonMatch[0]);\n  } else { throw new Error('No JSON'); }\n} catch (e) {\n  incident.level_2_recommendation = { root_cause: 'Parse error', analysis: 'Manual review', severity: 'high', requires_human_approval: true, error: e.message };\n}\nreturn [{ json: incident }];"
      },
      "id": "parse-claude",
      "name": "Parser Reponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/auto-repare/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"escalation\", \"incident\": {{ JSON.stringify($json) }} }",
        "options": {}
      },
      "id": "notify-escalation",
      "name": "Demander Validation Humaine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400]
    }
  ],
  "connections": {
    "Webhook Execute Action": {"main": [[{"node": "Valider Commande", "type": "main", "index": 0}]]},
    "Valider Commande": {"main": [[{"node": "Commande Valide?", "type": "main", "index": 0}]]},
    "Commande Valide?": {"main": [[{"node": "SSH - Executer Action", "type": "main", "index": 0}], [{"node": "Escalader - Commande Invalide", "type": "main", "index": 0}]]},
    "SSH - Executer Action": {"main": [[{"node": "Attendre 30s", "type": "main", "index": 0}]]},
    "Attendre 30s": {"main": [[{"node": "SSH - Verifier Service", "type": "main", "index": 0}]]},
    "SSH - Verifier Service": {"main": [[{"node": "Evaluer Resultat", "type": "main", "index": 0}]]},
    "Evaluer Resultat": {"main": [[{"node": "Action Reussie?", "type": "main", "index": 0}]]},
    "Action Reussie?": {"main": [[{"node": "Notifier Succes", "type": "main", "index": 0}], [{"node": "Escalader - Echec N1", "type": "main", "index": 0}]]},
    "Webhook Escalade N2": {"main": [[{"node": "SSH - Collecter Contexte", "type": "main", "index": 0}]]},
    "SSH - Collecter Contexte": {"main": [[{"node": "Claude - Expert N2", "type": "main", "index": 0}]]},
    "Claude - Expert N2": {"main": [[{"node": "Parser Reponse Claude", "type": "main", "index": 0}]]},
    "Parser Reponse Claude": {"main": [[{"node": "Demander Validation Humaine", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
