workflows/Action_Executor_n8n.json
{"createdAt":"2025-11-27T09:53:11.203Z","updatedAt":"2025-11-30T14:09:05.333Z","id":"m239OOMCarIbNa7C","name":"Auto-Repare - Action Executor","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"auto-repare/execute-action","options":{}},"id":"webhook-execute","name":"Webhook Execute Action","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"auto-repare-execute"},{"parameters":{"jsCode":"const incident = $input.first().json;\nconst searchText = (incident.service_name || '') + ' ' + (incident.error_type || '') + ' ' + (incident.monitor_name || '');\nincident._search_text = searchText.trim();\nreturn [{ json: incident }];"},"id":"prepare-rag","name":"Preparer Query RAG","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"method":"POST","url":"http://137.74.44.64:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json._search_text }}\"\n}","options":{"timeout":60000,"retry":{"maxRetries":2,"waitBetweenRetries":5000}}},"id":"ollama-embed","name":"Ollama - Embedding","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0]},{"parameters":{"method":"POST","url":"http://137.74.44.64:6333/collections/incidents_history/points/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"limit\": 3,\n  \"with_payload\": true,\n  \"score_threshold\": 0.7\n}","options":{"timeout":15000,"retry":{"maxRetries":3,"waitBetweenRetries":1000}}},"id":"qdrant-search","name":"Qdrant - Chercher Similaires","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0]},{"parameters":{"jsCode":"const incident = $('Webhook Execute Action').first().json;\nconst ragResults = $input.first().json;\nincident.rag_history = [];\nif (ragResults.result && ragResults.result.length > 0) {\n  incident.rag_history = ragResults.result.map(r => ({\n    score: r.score,\n    service: r.payload?.service_name,\n    solution: r.payload?.solution_applied,\n    success: r.payload?.resolution_success\n  }));\n  incident.has_similar_incidents = true;\n  const successfulFix = ragResults.result.find(r => r.payload?.resolution_success === true);\n  if (successfulFix) {\n    incident.suggested_from_history = successfulFix.payload?.solution_applied;\n  }\n} else {\n  incident.has_similar_incidents = false;\n}\nreturn [{ json: incident }];"},"id":"enrich-rag","name":"Enrichir avec RAG","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"jsCode":"const incident = $input.first().json;\nconst command = incident.level_1_action;\nconst safePatterns = [\n  /^systemctl (restart|start|stop|reload|status) [a-z0-9-]+$/,\n  /^docker (restart|start|stop) [a-z0-9_-]+$/,\n  /^docker logs --tail \\d+ [a-z0-9_-]+$/,\n  /^journalctl --vacuum-(size|time)=\\S+$/,\n  /^docker system prune -f$/\n];\nconst blockedPatterns = [\n  /rm\\s+-rf/i,\n  /rm\\s+-r\\s+\\//i,\n  /dd\\s+if=/i,\n  /mkfs/i,\n  /chmod\\s+777/i,\n  /DROP\\s+(DATABASE|TABLE)/i\n];\nconst isBlocked = blockedPatterns.some(p => p.test(command));\nif (isBlocked) {\n  incident.validation = { is_valid: false, reason: 'Blocked pattern', command };\n  return [{ json: incident }];\n}\nconst isSafe = safePatterns.some(p => p.test(command));\nincident.validation = { is_valid: isSafe, reason: isSafe ? 'Safe pattern' : 'Not in whitelist', command };\nreturn [{ json: incident }];"},"id":"validate-command","name":"Valider Commande","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-valid","leftValue":"={{ $json.validation.is_valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-valid","name":"Commande Valide?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1328,0]},{"parameters":{"authentication":"privateKey","command":"={{ $json.level_1_action }}"},"id":"ssh-execute","name":"SSH - Executer Action","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1552,-96],"credentials":{"sshPrivateKey":{"id":"L6gJhUeuwg4fR8XU","name":"Auto-Repare VPS SSH Key"}}},{"parameters":{"amount":30},"id":"wait-verify","name":"Attendre 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,-96],"webhookId":"fa8c9f95-0203-4c6a-8079-06e4c10b98cc"},{"parameters":{"authentication":"privateKey","command":"=curl -s -o /dev/null -w '%{http_code}' {{ $('Webhook Execute Action').item.json.monitor_url || 'http://localhost' }} 2>/dev/null || echo 'FAIL'"},"id":"ssh-verify","name":"SSH - Verifier Service","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1984,-96],"credentials":{"sshPrivateKey":{"id":"L6gJhUeuwg4fR8XU","name":"Auto-Repare VPS SSH Key"}}},{"parameters":{"jsCode":"const incident = $('Webhook Execute Action').first().json;\nconst executeResult = $('SSH - Executer Action').first().json;\nconst verifyResult = $('SSH - Verifier Service').first().json;\nconst httpCode = verifyResult.stdout?.trim();\nconst success = httpCode && httpCode.startsWith('2');\nincident.level_1_success = success;\nincident.resolved_at = success ? new Date().toISOString() : null;\nincident.execution_result = { stdout: executeResult.stdout, stderr: executeResult.stderr, exit_code: executeResult.exitCode, http_code: httpCode };\nreturn [{ json: incident }];"},"id":"evaluate-result","name":"Evaluer Resultat","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,-96]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-success","leftValue":"={{ $json.level_1_success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-success","name":"Action Reussie?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2432,-96]},{"parameters":{"method":"POST","url":"http://137.74.44.64:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.service_name || '' }} {{ $json.error_type || '' }} resolution success {{ $json.level_1_action || '' }}\"\n}","options":{"timeout":60000,"retry":{"maxRetries":2,"waitBetweenRetries":5000}}},"id":"embed-success","name":"Embedding Succes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,-208]},{"parameters":{"method":"PUT","url":"http://137.74.44.64:6333/collections/incidents_history/points","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [{\n    \"id\": {{ Math.abs($(\"Webhook Execute Action\").item.json.incident_id?.split(\"-\")[1] || Date.now()) * 1000 + Math.floor(Math.random() * 1000) }},\n    \"vector\": {{ JSON.stringify($json.embedding) }},\n    \"payload\": {\n      \"incident_id\": \"{{ $('Webhook Execute Action').item.json.incident_id || 'N/A' }}\",\n      \"service_name\": \"{{ $('Webhook Execute Action').item.json.service_name || 'N/A' }}\",\n      \"error_type\": \"{{ $('Webhook Execute Action').item.json.error_type || 'N/A' }}\",\n      \"solution_applied\": \"{{ $('Webhook Execute Action').item.json.level_1_action || 'N/A' }}\",\n      \"resolution_level\": \"N1\",\n      \"resolution_success\": true,\n      \"resolved_at\": \"{{ $('Evaluer Resultat').item.json.resolved_at }}\"\n    }\n  }]\n}","options":{"timeout":15000,"retry":{"maxRetries":3,"waitBetweenRetries":1000}}},"id":"store-success","name":"Qdrant - Stocker Succes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,-208]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/notify","sendBody":true,"specifyBody":"json","jsonBody":"={ \"type\": \"success\", \"incident\": {{ JSON.stringify($('Evaluer Resultat').item.json) }} }","options":{"timeout":30000,"retry":{"maxRetries":3,"waitBetweenRetries":2000}}},"id":"notify-success","name":"Notifier Succes","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,-208]},{"parameters":{"method":"POST","url":"http://137.74.44.64:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.service_name || '' }} {{ $json.error_type || '' }} resolution failed {{ $json.level_1_action || '' }}\"\n}","options":{"timeout":60000,"retry":{"maxRetries":2,"waitBetweenRetries":5000}}},"id":"embed-failure","name":"Embedding Echec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2640,0]},{"parameters":{"method":"PUT","url":"http://137.74.44.64:6333/collections/incidents_history/points","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [{\n    \"id\": {{ Math.abs($(\"Webhook Execute Action\").item.json.incident_id?.split(\"-\")[1] || Date.now()) * 1000 + Math.floor(Math.random() * 1000) }},\n    \"vector\": {{ JSON.stringify($json.embedding) }},\n    \"payload\": {\n      \"incident_id\": \"{{ $('Webhook Execute Action').item.json.incident_id || 'N/A' }}\",\n      \"service_name\": \"{{ $('Webhook Execute Action').item.json.service_name || 'N/A' }}\",\n      \"error_type\": \"{{ $('Webhook Execute Action').item.json.error_type || 'N/A' }}\",\n      \"solution_applied\": \"{{ $('Webhook Execute Action').item.json.level_1_action || 'N/A' }}\",\n      \"resolution_level\": \"N1\",\n      \"resolution_success\": false,\n      \"resolved_at\": null\n    }\n  }]\n}","options":{"timeout":15000,"retry":{"maxRetries":3,"waitBetweenRetries":1000}}},"id":"store-failure","name":"Qdrant - Stocker Echec","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,0]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/escalate-n2","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($('Evaluer Resultat').item.json) }}","options":{"timeout":30000,"retry":{"maxRetries":3,"waitBetweenRetries":2000}}},"id":"escalate-failure","name":"Escalader N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3088,0]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/escalate-n2","sendBody":true,"specifyBody":"json","jsonBody":"={ \"incident_id\": \"{{ $json.incident_id }}\", \"reason\": \"Command validation failed\", \"original_incident\": {{ JSON.stringify($json) }} }","options":{"timeout":30000,"retry":{"maxRetries":3,"waitBetweenRetries":2000}}},"id":"escalate-invalid","name":"Escalader - Invalide","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,112]},{"parameters":{"httpMethod":"POST","path":"auto-repare/escalate-n2","options":{}},"id":"webhook-escalate","name":"Webhook Escalade N2","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,400],"webhookId":"auto-repare-escalate"},{"parameters":{"jsCode":"const incident = $input.first().json;\nconst searchText = (incident.service_name || '') + ' ' + (incident.error_type || '') + ' escalation N2';\nincident._search_text_n2 = searchText.trim();\nreturn [{ json: incident }];"},"id":"prepare-rag-n2","name":"Preparer RAG N2","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,400]},{"parameters":{"method":"POST","url":"http://137.74.44.64:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json._search_text_n2 }}\"\n}","options":{"timeout":60000,"retry":{"maxRetries":2,"waitBetweenRetries":5000}}},"id":"embed-n2","name":"Embedding N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,400]},{"parameters":{"method":"POST","url":"http://137.74.44.64:6333/collections/incidents_history/points/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"vector\": {{ JSON.stringify($json.embedding) }},\n  \"limit\": 5,\n  \"with_payload\": true,\n  \"score_threshold\": 0.6\n}","options":{"timeout":15000,"retry":{"maxRetries":3,"waitBetweenRetries":1000}}},"id":"qdrant-n2","name":"Qdrant - Historique N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,400]},{"parameters":{"jsCode":"const incident = $('Webhook Escalade N2').first().json;\nconst ragResults = $input.first().json;\nlet historyContext = '';\nif (ragResults.result && ragResults.result.length > 0) {\n  historyContext = '\\n\\nHISTORIQUE INCIDENTS SIMILAIRES:\\n';\n  ragResults.result.forEach((r, i) => {\n    historyContext += (i+1) + '. Service: ' + (r.payload?.service_name || 'N/A') + '\\n';\n    historyContext += '   Solution: ' + (r.payload?.solution_applied || 'N/A') + '\\n';\n    historyContext += '   Resultat: ' + (r.payload?.resolution_success ? 'SUCCES' : 'ECHEC') + '\\n';\n  });\n}\nincident._rag_context = historyContext;\nreturn [{ json: incident }];"},"id":"build-context-n2","name":"Contexte RAG N2","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,400]},{"parameters":{"authentication":"privateKey","command":"=tail -n 100 /var/log/syslog 2>/dev/null; echo '---DOCKER---'; docker logs --tail 50 {{ $json.service_name || 'n8n-main-prod' }} 2>&1 || true; echo '---RESOURCES---'; free -h; df -h /"},"id":"ssh-collect","name":"SSH - Collecter Logs","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[1104,400],"credentials":{"sshPrivateKey":{"id":"L6gJhUeuwg4fR8XU","name":"Auto-Repare VPS SSH Key"}}},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Expert DevOps N2. Analyse incident.\\n\\nService: {{ $('Webhook Escalade N2').item.json.service_name }}{{ $('Contexte RAG N2').item.json._rag_context }}\\n\\nLogs:\\n{{ $json.stdout }}\\n\\nJSON: {\\\"root_cause\\\": \\\"...\\\", \\\"analysis\\\": \\\"...\\\", \\\"severity\\\": \\\"critical|high|medium|low\\\", \\\"action_command\\\": \\\"...\\\", \\\"action_explanation\\\": \\\"...\\\", \\\"requires_human_approval\\\": true, \\\"risks\\\": [\\\"...\\\"]}\"\n  }]\n}","options":{"timeout":120000,"retry":{"maxRetries":2,"waitBetweenRetries":10000}}},"id":"claude-n2","name":"Claude N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,400],"credentials":{"httpHeaderAuth":{"id":"5ObFcr3oc6MgjfBE","name":"Anthropic API"}}},{"parameters":{"jsCode":"const incident = $('Contexte RAG N2').first().json;\nconst claudeResponse = $input.first().json;\ntry {\n  const content = claudeResponse.content?.[0]?.text || '';\n  const jsonMatch = content.match(/\\{[\\s\\S]*?\\\"root_cause\\\"[\\s\\S]*?\\}/m);\n  if (jsonMatch) {\n    incident.level_2_recommendation = JSON.parse(jsonMatch[0]);\n  } else { throw new Error('No JSON'); }\n} catch (e) {\n  incident.level_2_recommendation = { root_cause: 'Parse error', analysis: 'Manual review', severity: 'high', requires_human_approval: true };\n}\nreturn [{ json: incident }];"},"id":"parse-claude","name":"Parser Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,400]},{"parameters":{"method":"POST","url":"http://137.74.44.64:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{ $json.service_name || '' }} N2 analysis {{ $json.level_2_recommendation?.root_cause || '' }}\"\n}","options":{"timeout":60000,"retry":{"maxRetries":2,"waitBetweenRetries":5000}}},"id":"embed-n2-result","name":"Embedding Analyse N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,400]},{"parameters":{"method":"PUT","url":"http://137.74.44.64:6333/collections/incidents_history/points","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"points\": [{\n    \"id\": {{ Math.abs($(\"Webhook Execute Action\").item.json.incident_id?.split(\"-\")[1] || Date.now()) * 1000 + Math.floor(Math.random() * 1000) }},\n    \"vector\": {{ JSON.stringify($json.embedding) }},\n    \"payload\": {\n      \"incident_id\": \"{{ $('Webhook Escalade N2').item.json.incident_id || 'N/A' }}\",\n      \"service_name\": \"{{ $('Webhook Escalade N2').item.json.service_name || 'N/A' }}\",\n      \"solution_applied\": \"{{ $('Parser Claude').item.json.level_2_recommendation?.action_command || 'N/A' }}\",\n      \"root_cause\": \"{{ $('Parser Claude').item.json.level_2_recommendation?.root_cause || 'N/A' }}\",\n      \"resolution_level\": \"N2\",\n      \"resolution_success\": null,\n      \"awaiting_human\": true\n    }\n  }]\n}","options":{"timeout":15000,"retry":{"maxRetries":3,"waitBetweenRetries":1000}}},"id":"store-n2","name":"Qdrant - Stocker N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,400]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/notify","sendBody":true,"specifyBody":"json","jsonBody":"={ \"type\": \"escalation\", \"incident\": {{ JSON.stringify($('Parser Claude').item.json) }} }","options":{"timeout":30000,"retry":{"maxRetries":3,"waitBetweenRetries":2000}}},"id":"notify-escalation","name":"Demander Validation","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,400]}],"connections":{"Webhook Execute Action":{"main":[[{"node":"Preparer Query RAG","type":"main","index":0}]]},"Preparer Query RAG":{"main":[[{"node":"Ollama - Embedding","type":"main","index":0}]]},"Ollama - Embedding":{"main":[[{"node":"Qdrant - Chercher Similaires","type":"main","index":0}]]},"Qdrant - Chercher Similaires":{"main":[[{"node":"Enrichir avec RAG","type":"main","index":0}]]},"Enrichir avec RAG":{"main":[[{"node":"Valider Commande","type":"main","index":0}]]},"Valider Commande":{"main":[[{"node":"Commande Valide?","type":"main","index":0}]]},"Commande Valide?":{"main":[[{"node":"SSH - Executer Action","type":"main","index":0}],[{"node":"Escalader - Invalide","type":"main","index":0}]]},"SSH - Executer Action":{"main":[[{"node":"Attendre 30s","type":"main","index":0}]]},"Attendre 30s":{"main":[[{"node":"SSH - Verifier Service","type":"main","index":0}]]},"SSH - Verifier Service":{"main":[[{"node":"Evaluer Resultat","type":"main","index":0}]]},"Evaluer Resultat":{"main":[[{"node":"Action Reussie?","type":"main","index":0}]]},"Action Reussie?":{"main":[[{"node":"Embedding Succes","type":"main","index":0}],[{"node":"Embedding Echec","type":"main","index":0}]]},"Embedding Succes":{"main":[[{"node":"Qdrant - Stocker Succes","type":"main","index":0}]]},"Qdrant - Stocker Succes":{"main":[[{"node":"Notifier Succes","type":"main","index":0}]]},"Embedding Echec":{"main":[[{"node":"Qdrant - Stocker Echec","type":"main","index":0}]]},"Qdrant - Stocker Echec":{"main":[[{"node":"Escalader N2","type":"main","index":0}]]},"Webhook Escalade N2":{"main":[[{"node":"Preparer RAG N2","type":"main","index":0}]]},"Preparer RAG N2":{"main":[[{"node":"Embedding N2","type":"main","index":0}]]},"Embedding N2":{"main":[[{"node":"Qdrant - Historique N2","type":"main","index":0}]]},"Qdrant - Historique N2":{"main":[[{"node":"Contexte RAG N2","type":"main","index":0}]]},"Contexte RAG N2":{"main":[[{"node":"SSH - Collecter Logs","type":"main","index":0}]]},"SSH - Collecter Logs":{"main":[[{"node":"Claude N2","type":"main","index":0}]]},"Claude N2":{"main":[[{"node":"Parser Claude","type":"main","index":0}]]},"Parser Claude":{"main":[[{"node":"Embedding Analyse N2","type":"main","index":0}]]},"Embedding Analyse N2":{"main":[[{"node":"Qdrant - Stocker N2","type":"main","index":0}]]},"Qdrant - Stocker N2":{"main":[[{"node":"Demander Validation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77ac4e86-a734-476b-a203-dc35a226fe1f","triggerCount":2,"shared":[{"createdAt":"2025-11-27T09:53:11.203Z","updatedAt":"2025-11-27T09:53:11.203Z","role":"workflow:owner","workflowId":"m239OOMCarIbNa7C","projectId":"IvTcYSpg6oYGllku","project":{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:14:54.545Z","id":"IvTcYSpg6oYGllku","name":"Christophe Cazenave <admin@aurastackai.fr>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:05:07.610Z","userId":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","projectId":"IvTcYSpg6oYGllku","user":{"createdAt":"2025-10-05T17:05:05.988Z","updatedAt":"2025-11-30T09:35:24.686Z","id":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","email":"admin@aurastackai.fr","firstName":"Christophe","lastName":"Cazenave","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-05T17:15:10.599Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"SojaozYJkVksixA1","userActivatedAt":1759854003116,"npsSurvey":{"responded":true,"lastShownAt":1760537672755}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-29","isPending":false}}]}}],"tags":[]}