workflows/Main_Supervisor_n8n.json
{"createdAt":"2025-11-27T09:53:10.726Z","updatedAt":"2025-11-30T18:29:57.483Z","id":"YPOEAMIDhDEdRLyX","name":"Auto-Repare - Main Supervisor","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"auto-repare/alert","options":{"responseMode":"onReceived","responseData":"firstEntryJson"}},"id":"webhook-trigger","name":"Webhook Uptime Kuma","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"auto-repare-alert"},{"parameters":{"jsCode":"const webhookData = $input.first().json;\n// Webhook data is in body, not at root level\nconst input = webhookData.body || webhookData;\n\n// Generation ID incident unique et deterministe\nconst timestamp = Date.now();\nconst serviceKey = (input.monitor?.name || input.monitorName || 'unknown').toLowerCase().replace(/[^a-z0-9]/g, '-');\nconst incidentId = 'INC-' + timestamp + '-' + serviceKey.substring(0, 8);\n\n// Normalisation du payload\nconst payload = {\n  incident_id: incidentId,\n  timestamp: new Date().toISOString(),\n  monitor_name: input.monitor?.name || input.monitorName || 'Unknown',\n  service_name: serviceKey,\n  monitor_url: input.monitor?.url || input.url || '',\n  status: input.heartbeat?.status === 0 ? 'DOWN' : (input.heartbeat?.status === 1 ? 'UP' : 'UNKNOWN'),\n  message: input.msg || input.heartbeat?.msg || '',\n  error_type: input.heartbeat?.msg?.includes('timeout') ? 'timeout' :\n              input.heartbeat?.msg?.includes('connection') ? 'connection_error' :\n              input.heartbeat?.status === 0 ? 'service_down' : 'unknown',\n  attempt_count: 0,\n  level_1_diagnosis: null,\n  level_1_action: null,\n  level_1_success: null,\n  level_2_recommendation: null\n};\n\nreturn [{ json: payload }];"},"id":"normalize-payload","name":"Normaliser Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"condition-down","leftValue":"={{ $json.status }}","rightValue":"DOWN","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-status","name":"Service Down?","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,0]},{"parameters":{"authentication":"privateKey","command":"=echo '=== SYSTEM LOGS ===' && (tail -n 100 /var/log/syslog 2>/dev/null || journalctl -n 100 --no-pager 2>/dev/null | tail -100) && echo '\\n=== DOCKER LOGS ===' && (docker logs --tail 50 {{ $json.service_name }} 2>&1 || echo 'No Docker container')"},"id":"ssh-collect-logs","name":"SSH - Collecter Tous Logs","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[672,-96],"credentials":{"sshPrivateKey":{"id":"L6gJhUeuwg4fR8XU","name":"Auto-Repare VPS SSH Key"}}},{"parameters":{"jsCode":"const incident = $('Normaliser Payload').first().json;\nconst allLogs = $input.first().json.stdout || '';\n\n// Parse logs into sections\nconst sysLogs = allLogs.split('=== DOCKER LOGS ===')[0].replace('=== SYSTEM LOGS ===', '').trim();\nconst dockerLogs = allLogs.split('=== DOCKER LOGS ===')[1]?.trim() || 'No Docker logs';\n\nincident.error_logs = '=== SYSTEM LOGS ===\\n' + sysLogs.slice(-2000) + '\\n\\n=== DOCKER LOGS ===\\n' + dockerLogs.slice(-2000);\nincident.attempt_count = 1;\nreturn [{ json: incident }];"},"id":"aggregate-logs","name":"Agreger Logs","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]},{"parameters":{"method":"POST","url":"http://ollama:11434/api/generate","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json._ollama_payload) }}","options":{"timeout":180000,"retry":{"maxRetries":2,"waitBetweenRetries":10000}}},"id":"ollama-qwen","name":"Ollama - Qwen N1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,0]},{"parameters":{"jsCode":"const incident = $('Agreger Logs').first().json;\nconst qwenResponse = $input.first().json;\ntry {\n  let responseText = qwenResponse.response || '';\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*?\\\"cause\\\"[\\s\\S]*?\\}/m);\n  if (jsonMatch) {\n    const diagnosis = JSON.parse(jsonMatch[0]);\n    incident.level_1_diagnosis = diagnosis;\n    incident.level_1_action = diagnosis.action_command;\n  } else { throw new Error('No valid JSON'); }\n} catch (e) {\n  incident.level_1_diagnosis = { cause: 'Parse error', confidence: 0, action_command: 'ESCALATE', action_type: 'ESCALATE', is_safe: false, explanation: e.message };\n  incident.level_1_action = 'ESCALATE';\n}\nreturn [{ json: incident }];"},"id":"parse-qwen","name":"Parser Reponse Qwen","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond-escalate","leftValue":"={{ $json.level_1_action }}","rightValue":"ESCALATE","operator":{"type":"string","operation":"notEquals"}},{"id":"cond-safe","leftValue":"={{ $json.level_1_diagnosis.is_safe }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"cond-confidence","leftValue":"={{ $json.level_1_diagnosis.confidence }}","rightValue":0.6,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"check-safe-action","name":"Action Safe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1552,0]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/execute-action","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":300000,"retry":{"maxRetries":1,"waitBetweenRetries":5000}},"method":"POST"},"id":"call-executor","name":"Appeler Action Executor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-96]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/escalate-n2","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{"timeout":300000,"retry":{"maxRetries":1,"waitBetweenRetries":5000}},"method":"POST"},"id":"escalate-n2","name":"Escalader vers N2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,112]},{"parameters":{},"id":"end-up","name":"Fin - Service UP","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[672,288]},{"parameters":{"jsCode":"const incident = $input.first().json;\n\n// Take only last 800 chars of logs\nconst cleanLogs = (incident.error_logs || '')\n  .substring(0, 800)\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/\"/g, '\\\\\"')\n  .replace(/\\n/g, '\\\\n')\n  .replace(/\\r/g, '')\n  .replace(/\\t/g, ' ');\n\n// Improved prompt for clean command output\nconst prompt = `You are a Level 1 system analyst. A service is DOWN.\n\nService: ${incident.service_name}\nLogs: ${cleanLogs}\n\nIMPORTANT: Return ONLY a valid JSON object. For action_command, give ONLY ONE command (no alternatives, no \"OR\").\nIf you cannot fix it automatically, set action_command to exactly \"ESCALATE\".\n\nValid commands examples:\n- \"systemctl restart nginx\"\n- \"docker restart nginx\"\n- \"ESCALATE\"\n\nJSON format:\n{\"cause\":\"brief description\",\"confidence\":0.85,\"action_command\":\"single command or ESCALATE\",\"action_type\":\"restart\",\"is_safe\":true,\"explanation\":\"brief\"}`;\n\nconst ollamaPayload = {\n  model: \"qwen2.5-coder:3b-instruct\",\n  prompt: prompt,\n  stream: false,\n  options: { temperature: 0.1, num_predict: 200 }\n};\n\nreturn [{ json: { ...incident, _ollama_payload: ollamaPayload } }];"},"id":"prepare-ollama","name":"Preparer Ollama Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,0]}],"connections":{"Webhook Uptime Kuma":{"main":[[{"node":"Normaliser Payload","type":"main","index":0}]]},"Normaliser Payload":{"main":[[{"node":"Service Down?","type":"main","index":0}]]},"Service Down?":{"main":[[{"node":"SSH - Collecter Tous Logs","type":"main","index":0}],[{"node":"Fin - Service UP","type":"main","index":0}]]},"Agreger Logs":{"main":[[{"node":"Preparer Ollama Payload","type":"main","index":0}]]},"Ollama - Qwen N1":{"main":[[{"node":"Parser Reponse Qwen","type":"main","index":0}]]},"Parser Reponse Qwen":{"main":[[{"node":"Action Safe?","type":"main","index":0}]]},"Action Safe?":{"main":[[{"node":"Appeler Action Executor","type":"main","index":0}],[{"node":"Escalader vers N2","type":"main","index":0}]]},"SSH - Collecter Tous Logs":{"main":[[{"node":"Agreger Logs","type":"main","index":0}]]},"Preparer Ollama Payload":{"main":[[{"node":"Ollama - Qwen N1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"873ae289-e28f-43d1-a0b4-8bc923284aee","triggerCount":1,"shared":[{"createdAt":"2025-11-27T09:53:10.726Z","updatedAt":"2025-11-27T09:53:10.726Z","role":"workflow:owner","workflowId":"YPOEAMIDhDEdRLyX","projectId":"IvTcYSpg6oYGllku","project":{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:14:54.545Z","id":"IvTcYSpg6oYGllku","name":"Christophe Cazenave <admin@aurastackai.fr>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:05:07.610Z","userId":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","projectId":"IvTcYSpg6oYGllku","user":{"createdAt":"2025-10-05T17:05:05.988Z","updatedAt":"2025-12-01T08:01:38.492Z","id":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","email":"admin@aurastackai.fr","firstName":"Christophe","lastName":"Cazenave","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-05T17:15:10.599Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"SojaozYJkVksixA1","userActivatedAt":1759854003116,"npsSurvey":{"responded":true,"lastShownAt":1760537672755}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-30","isPending":false}}]}}],"tags":[]}