workflows/Notification_Manager_n8n.json
{"createdAt":"2025-11-27T09:53:45.067Z","updatedAt":"2025-12-01T08:14:38.757Z","id":"Z796nTTfPwJ7Zo90","name":"Auto-Repare - Notification Manager","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"auto-repare/notify","options":{}},"id":"webhook-notify","name":"Webhook Notification","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"auto-repare-notify"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-type","leftValue":"={{ $json.type }}","rightValue":"success","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-type","name":"Type de Notification","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,0]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst incident = data.incident || data;\nconst html = '<html><body style=\"font-family:Arial;background:#f0fdf4;padding:20px;\"><div style=\"max-width:600px;margin:0 auto;background:white;border-radius:8px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background:linear-gradient(135deg,#10b981,#059669);color:white;padding:30px;text-align:center;\"><div style=\"font-size:48px;margin-bottom:10px;\">✅</div><h1 style=\"margin:0;font-size:24px;\">Auto-Guerison Reussie</h1></div><div style=\"padding:30px;\"><div style=\"background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Incident ID</div><div style=\"color:#111827;font-size:16px;font-weight:500;\">' + (incident.incident_id || 'N/A') + '</div></div><div style=\"background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Service</div><div style=\"color:#111827;font-size:16px;font-weight:500;\">' + (incident.service_name || 'N/A') + '</div></div><div style=\"background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Action Executee</div><div style=\"color:#111827;font-size:16px;font-weight:500;\"><code style=\"background:#e5e7eb;padding:2px 6px;border-radius:4px;\">' + (incident.level_1_action || 'N/A') + '</code></div></div></div><div style=\"background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px;\">Auto-Repare - Systeme Auto-Guerison</div></div></body></html>';\nreturn [{ json: { subject: '✅ [Auto-Repare] Service ' + (incident.service_name || 'Unknown') + ' restaure', html: html, incident: incident } }];"},"id":"generate-success-email","name":"Generer Email Succes","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-150]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst incident = data.incident || data;\nconst recommendation = incident.level_2_recommendation || {};\n\n// Generation de tokens securises avec timestamp pour expiration\nconst timestamp = Date.now();\nconst baseToken = Math.random().toString(36).substr(2, 16) + timestamp.toString(36);\nconst validateToken = 'v_' + baseToken;\nconst ignoreToken = 'i_' + baseToken;\n\n// URLs de validation avec parametres complets\nconst baseUrl = 'https://n8n.aurastackai.com/webhook/auto-repare/validate-action';\nconst validateUrl = baseUrl + '?token=' + validateToken +\n  '&incident_id=' + encodeURIComponent(incident.incident_id || '') +\n  '&action=approve' +\n  '&service_name=' + encodeURIComponent(incident.service_name || '') +\n  '&action_command=' + encodeURIComponent(recommendation.action_command || '') +\n  '&monitor_url=' + encodeURIComponent(incident.monitor_url || '') +\n  '&ts=' + timestamp;\n\nconst ignoreUrl = baseUrl + '?token=' + ignoreToken +\n  '&incident_id=' + encodeURIComponent(incident.incident_id || '') +\n  '&action=ignore' +\n  '&ts=' + timestamp;\n\n// Couleurs selon severite\nconst severityColors = {\n  critical: '#dc2626',\n  high: '#f97316',\n  medium: '#eab308',\n  low: '#22c55e'\n};\nconst severityColor = severityColors[recommendation.severity] || '#6b7280';\n\n// Generation HTML email professionnel\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:Arial,sans-serif;background:#f5f5f5;padding:20px;margin:0;\">\n<div style=\"max-width:700px;margin:0 auto;background:white;border-radius:12px;overflow:hidden;box-shadow:0 4px 20px rgba(0,0,0,0.1);\">\n\n  <div style=\"background:linear-gradient(135deg,#f59e0b,#d97706);color:white;padding:30px;text-align:center;\">\n    <div style=\"font-size:48px;margin-bottom:10px;\">⚠️</div>\n    <h1 style=\"margin:0;font-size:24px;\">Validation Requise - Niveau 2</h1>\n    <p style=\"margin:10px 0 0;opacity:0.9;\">Analyse Claude AI completee</p>\n  </div>\n\n  <div style=\"padding:30px;\">\n    <div style=\"text-align:center;margin-bottom:20px;\">\n      <span style=\"display:inline-block;padding:6px 16px;border-radius:20px;color:white;font-weight:bold;text-transform:uppercase;font-size:12px;background:${severityColor};\">\n        ${recommendation.severity || 'UNKNOWN'}\n      </span>\n    </div>\n\n    <div style=\"background:#f8fafc;border-left:4px solid #3b82f6;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">\n      <div style=\"color:#64748b;font-size:11px;text-transform:uppercase;letter-spacing:1px;margin-bottom:5px;\">Incident ID</div>\n      <div style=\"color:#1e293b;font-size:16px;font-weight:600;font-family:monospace;\">${incident.incident_id || 'N/A'}</div>\n    </div>\n\n    <div style=\"background:#f8fafc;border-left:4px solid #8b5cf6;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">\n      <div style=\"color:#64748b;font-size:11px;text-transform:uppercase;letter-spacing:1px;margin-bottom:5px;\">Service Affecte</div>\n      <div style=\"color:#1e293b;font-size:16px;font-weight:600;\">${incident.service_name || 'N/A'}</div>\n    </div>\n\n    <div style=\"background:#fef2f2;border-left:4px solid #dc2626;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">\n      <div style=\"color:#64748b;font-size:11px;text-transform:uppercase;letter-spacing:1px;margin-bottom:5px;\">Cause Racine Identifiee</div>\n      <div style=\"color:#1e293b;font-size:14px;line-height:1.5;\">${recommendation.root_cause || 'Analyse en cours...'}</div>\n    </div>\n\n    <div style=\"background:#f0fdf4;border-left:4px solid #10b981;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">\n      <div style=\"color:#64748b;font-size:11px;text-transform:uppercase;letter-spacing:1px;margin-bottom:8px;\">Action Recommandee</div>\n      <code style=\"background:#1e293b;color:#4ade80;padding:12px 16px;border-radius:6px;font-family:'Courier New',monospace;display:block;margin:8px 0;font-size:13px;word-break:break-all;\">\n        ${recommendation.action_command || 'N/A'}\n      </code>\n      <div style=\"color:#475569;font-size:13px;margin-top:10px;line-height:1.5;\">${recommendation.action_explanation || ''}</div>\n    </div>\n\n    ${recommendation.risks && recommendation.risks.length > 0 ? `\n    <div style=\"background:#fffbeb;border-left:4px solid #f59e0b;padding:15px;margin:15px 0;border-radius:0 8px 8px 0;\">\n      <div style=\"color:#64748b;font-size:11px;text-transform:uppercase;letter-spacing:1px;margin-bottom:8px;\">⚠️ Risques Identifies</div>\n      <ul style=\"margin:0;padding-left:20px;color:#92400e;\">\n        ${recommendation.risks.map(r => '<li style=\"margin:5px 0;\">' + r + '</li>').join('')}\n      </ul>\n    </div>\n    ` : ''}\n  </div>\n\n  <div style=\"background:linear-gradient(135deg,#f8fafc,#e2e8f0);padding:30px;text-align:center;\">\n    <p style=\"margin:0 0 20px;color:#475569;font-size:14px;\">Cette action necessite votre validation explicite :</p>\n    <div>\n      <a href=\"${validateUrl}\" style=\"display:inline-block;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:600;font-size:15px;margin:8px;background:linear-gradient(135deg,#10b981,#059669);color:white;box-shadow:0 4px 12px rgba(16,185,129,0.4);\">\n        ✅ VALIDER ET EXECUTER\n      </a>\n      <a href=\"${ignoreUrl}\" style=\"display:inline-block;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:600;font-size:15px;margin:8px;background:linear-gradient(135deg,#6b7280,#4b5563);color:white;box-shadow:0 4px 12px rgba(107,114,128,0.3);\">\n        ❌ IGNORER\n      </a>\n    </div>\n    <p style=\"margin:20px 0 0;color:#94a3b8;font-size:11px;\">Ce lien expire dans 24 heures</p>\n  </div>\n\n  <div style=\"padding:20px;text-align:center;color:#94a3b8;font-size:11px;border-top:1px solid #e2e8f0;\">\n    Self-Healing Infrastructure v2.0 | Auto-Repare System<br>\n    Incident genere le ${new Date().toLocaleString('fr-FR')}\n  </div>\n</div>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    subject: '⚠️ [Auto-Repare] Validation requise - ' + (incident.service_name || 'Service') + ' [' + (recommendation.severity || 'N/A').toUpperCase() + ']',\n    html: html,\n    incident: incident,\n    tokens: { validate: validateToken, ignore: ignoreToken, expires: timestamp + 86400000 }\n  }\n}];"},"id":"generate-escalation-email","name":"Generer Email Escalade","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,150]},{"parameters":{"fromEmail":"auto-repare@aurastackai.com","toEmail":"={{ $env.ALERT_EMAIL_TO || 'admin@aurastackai.com' }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"send-success-email","name":"Envoyer Email Succes","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,-150],"webhookId":"e645c308-3f71-4212-b39f-e35808883984","credentials":{"smtp":{"id":"mIhtA6Kr4nLZtFxw","name":"SMTP account"}}},{"parameters":{"fromEmail":"auto-repare@aurastackai.com","toEmail":"={{ $env.ALERT_EMAIL_TO || 'admin@aurastackai.com' }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"send-escalation-email","name":"Envoyer Email Escalade","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[896,150],"webhookId":"93e4558c-b9d3-452a-aa89-ad9f5c07d7cd","credentials":{"smtp":{"id":"mIhtA6Kr4nLZtFxw","name":"SMTP account"}}},{"parameters":{"path":"auto-repare/validate-action","options":{}},"id":"webhook-validate","name":"Webhook Validation","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,400],"webhookId":"auto-repare-validate"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-action","leftValue":"={{ $json.query.action }}","rightValue":"approve","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-validation-action","name":"Action Approuvee?","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,400]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html><html><head><style>body{font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;margin:0;background:#f0fdf4}.card{background:white;padding:40px;border-radius:12px;text-align:center;box-shadow:0 4px 20px rgba(0,0,0,0.1)}.icon{font-size:64px;margin-bottom:20px}h1{color:#10b981;margin-bottom:10px}p{color:#6b7280}</style></head><body><div class=\"card\"><div class=\"icon\">✅</div><h1>Action Validee</h1><p>L'action corrective est en cours d'execution.</p></div></body></html>","options":{}},"id":"respond-approved","name":"Reponse - Approuve","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,304]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html><html><head><style>body{font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;margin:0;background:#f9fafb}.card{background:white;padding:40px;border-radius:12px;text-align:center;box-shadow:0 4px 20px rgba(0,0,0,0.1)}.icon{font-size:64px;margin-bottom:20px}h1{color:#6b7280;margin-bottom:10px}p{color:#9ca3af}</style></head><body><div class=\"card\"><div class=\"icon\">🚫</div><h1>Incident Ignore</h1><p>Aucune action ne sera executee.</p></div></body></html>","options":{}},"id":"respond-ignored","name":"Reponse - Ignore","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,512]},{"parameters":{"url":"https://n8n.aurastackai.com/webhook/auto-repare/execute-action","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ incident_id: $json.query.incident_id, level_1_action: $json.query.action_command || 'docker restart ' + $json.query.service_name, service_name: $json.query.service_name, monitor_url: $json.query.monitor_url, human_approved: true, approved_at: new Date().toISOString() }) }}","options":{"timeout":30000,"retry":{"maxRetries":2,"waitBetweenRetries":3000}},"method":"POST"},"id":"execute-approved-action","name":"Executer Action Approuvee","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-failure","leftValue":"={{ $json.type }}","rightValue":"failure","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-failure","name":"Type Failure?","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,0]},{"parameters":{"jsCode":"const data = $input.first().json;\nconst incident = data.incident || data;\nconst html = '<html><body style=\"font-family:Arial;background:#fef2f2;padding:20px;\"><div style=\"max-width:600px;margin:0 auto;background:white;border-radius:8px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1);\"><div style=\"background:linear-gradient(135deg,#ef4444,#dc2626);color:white;padding:30px;text-align:center;\"><div style=\"font-size:48px;margin-bottom:10px;\">⚠️</div><h1 style=\"margin:0;font-size:24px;\">Auto-Reparation Echouee</h1><p style=\"margin:10px 0 0;opacity:0.9;\">Escalade niveau 2 en cours</p></div><div style=\"padding:30px;\"><div style=\"background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Incident ID</div><div style=\"color:#111827;font-size:16px;font-weight:500;\">' + (incident.incident_id || 'N/A') + '</div></div><div style=\"background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Service</div><div style=\"color:#111827;font-size:16px;font-weight:500;\">' + (incident.service_name || 'N/A') + '</div></div><div style=\"background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Action Tentee</div><div style=\"color:#111827;font-size:16px;font-weight:500;\"><code style=\"background:#e5e7eb;padding:2px 6px;border-radius:4px;\">' + (incident.level_1_action || 'N/A') + '</code></div></div><div style=\"background:#fef2f2;border-left:4px solid #ef4444;padding:15px;margin:15px 0;\"><div style=\"color:#6b7280;font-size:12px;text-transform:uppercase;margin-bottom:5px;\">Resultat</div><div style=\"color:#dc2626;font-size:14px;\">' + (incident.execution_result?.stderr || incident.execution_result?.http_code || 'Service non restaure') + '</div></div></div><div style=\"background:#f9fafb;padding:20px;text-align:center;color:#6b7280;font-size:12px;\">Auto-Repare - Escalade N2 automatique en cours</div></div></body></html>';\nreturn [{ json: { subject: '⚠️ [Auto-Repare] Echec N1 - ' + (incident.service_name || 'Service') + ' - Escalade en cours', html: html, incident: incident } }];"},"id":"gen-failure-email","name":"Generer Email Echec","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0]},{"parameters":{"fromEmail":"auto-repare@aurastackai.com","toEmail":"={{ $env.ALERT_EMAIL_TO || 'admin@aurastackai.com' }}","subject":"={{ $json.subject }}","html":"={{ $json.html }}","options":{}},"id":"send-failure-email","name":"Envoyer Email Echec","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[896,0],"credentials":{"smtp":{"id":"mIhtA6Kr4nLZtFxw","name":"SMTP account"}}}],"connections":{"Webhook Notification":{"main":[[{"node":"Type de Notification","type":"main","index":0}]]},"Type de Notification":{"main":[[{"node":"Generer Email Succes","type":"main","index":0}],[{"node":"Type Failure?","type":"main","index":0}]]},"Generer Email Succes":{"main":[[{"node":"Envoyer Email Succes","type":"main","index":0}]]},"Generer Email Escalade":{"main":[[{"node":"Envoyer Email Escalade","type":"main","index":0}]]},"Webhook Validation":{"main":[[{"node":"Action Approuvee?","type":"main","index":0}]]},"Action Approuvee?":{"main":[[{"node":"Reponse - Approuve","type":"main","index":0}],[{"node":"Reponse - Ignore","type":"main","index":0}]]},"Type Failure?":{"main":[[{"node":"Generer Email Echec","type":"main","index":0}],[{"node":"Generer Email Escalade","type":"main","index":0}]]},"Generer Email Echec":{"main":[[{"node":"Envoyer Email Echec","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6412dc0f-6274-42b6-96dc-d321cb38a32c","triggerCount":2,"shared":[{"createdAt":"2025-11-27T09:53:45.067Z","updatedAt":"2025-11-27T09:53:45.067Z","role":"workflow:owner","workflowId":"Z796nTTfPwJ7Zo90","projectId":"IvTcYSpg6oYGllku","project":{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:14:54.545Z","id":"IvTcYSpg6oYGllku","name":"Christophe Cazenave <admin@aurastackai.fr>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-10-05T17:05:07.610Z","updatedAt":"2025-10-05T17:05:07.610Z","userId":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","projectId":"IvTcYSpg6oYGllku","user":{"createdAt":"2025-10-05T17:05:05.988Z","updatedAt":"2025-12-01T08:01:38.492Z","id":"d7d7e362-d22a-489f-a7d2-e63c4cf65790","email":"admin@aurastackai.fr","firstName":"Christophe","lastName":"Cazenave","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-05T17:15:10.599Z","personalization_survey_n8n_version":"1.113.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"SojaozYJkVksixA1","userActivatedAt":1759854003116,"npsSurvey":{"responded":true,"lastShownAt":1760537672755}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-30","isPending":false}}]}}],"tags":[]}